body {
  background-color: white;
  color: black;
}

code {
  color: white;
  padding: 0;
  background-color: black;
}

code p {
  background-color: black;
}
.quote {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
a:hover{
  text-decoration: none;
}

div .img {
  width: 100%;
  text-align: center;
}
img {
  width: 500px;
  margin: 0 auto;
}

div .code {
  background-color: black;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  font-family: monospace;
  color: green;
}

.blog {
    color: white;
    font-size: 1.25rem;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

/*typewritter date*/
#blog-view{
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}
#blog-view h1{
    font-size: 1rem;
    color: white;
}

@media(min-width:576px){

  #hero .blog p{
    font-size: 1.5rem;
  }
  #blog-view h1{
    font-size: 1.1rem;
  }

}
@media(min-width:768px){

  #hero .blog p{
    font-size: 1.75rem;
  }
  #blog-view h1{
    font-size: 1.25rem;
  }

}
@media(min-width:992px){

  #hero .blog p{
    font-size: 2.5rem;
  }
  #blog-view h1{
    font-size: 1.5rem;
  }

}
@media(min-width:1200px){

  #hero .blog p{
    font-size: 3.5rem;
  }
  #blog-view h1{
    font-size: 2rem;
  }

}
