/*hero*/
#hero{
    width: 100%;
    height: 100%;
    background-image: url('../images/desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#hero2{
    width: 100%;
    height: 150px;
    background-image: url('../images/desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/*typewritter skills*/
#skill-view{
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}
#skill-view h1{
    font-size: 1.2rem;
    color: white;
}

/*animated skills*/
.skill {
    color: white;
    font-size: .75rem;
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid;
    text-align: center;

}

.skill:last-child {
    border-right: none;
}

.r {
  animation-duration: 3s;
  animation-delay: 3s;
}
.rails {
  animation-duration: 3s;
  animation-delay: 6s;
}
.angular {
  animation-duration: 3s;
  animation-delay: 9s;
}
.javascript {
  animation-duration: 3s;
  animation-delay: 12s;
}
.api {
  animation-duration: 3s;
  animation-delay: 15s;
}



@media(min-width:576px){

  #hero .skill p{
    font-size: 1.25rem;
  }
  #skill-view h1{
    font-size: 1.5rem;
  }

}
@media(min-width:768px){

  #hero .skill p{
    font-size: 1.75rem;
  }
  #skill-view h1{
    font-size: 1.75rem;
  }

}
@media(min-width:992px){

  #hero .skill p{
    font-size: 2rem;
  }
  #skill-view h1{
    font-size: 2rem;
  }

}
@media(min-width:1200px){

  #hero .skill p{
    font-size: 3.5rem;
  }
  #skill-view h1{
    font-size: 3.5rem;
  }

}
