/*navbar*/
.navbar-default {
  background-color: rgba(255,255,255,0.95);
  border: none;
  margin: 0;
  z-index: 9999;
}

.navbar-default {
  animation-duration: 3s;
}

.navbar-transparent {
  margin: 0;
  z-index: 9999;
}

.navbar-toggler {
    background-color: white;
}

#over-write .navbar-transparent img {
    color: black;
    width: 150px;
    height: 30px;
}


#over-write .navbar-default img {
    color: black;
    width: 150px;
    height: 30px;
}
