/*projects*/
.projects {
  background-color: white;
}
.description {

  background-color: black;
  padding-top: 0;
}

.project-image {
  background-color: blue;
}
#over-write .projects-row:first-child{
    /*margin-top: 10rem;*/
}
#over-write .projects-row {
  margin-bottom: 5rem;
}

#over-write .projects-row:last-child{
  margin-bottom: 0rem;
}
#over-write .right {
  padding-left: 80px;
}

#over-write img {
  width: 300px;
  height: auto;
}

.gallery-mobile1 {
  text-align: center;
}

.gallery-mobile2 {
  margin-top: 3rem;
}
