.resume {
  color: white;
  width: 100%;
  height: auto;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size:  100% 100%;
}

.resume-button {
  text-align: center;
  padding-bottom: 80px;
}

@media(min-width:576px){

  #over-write .resume-button a {
    font-size: 2rem;
  }

}
@media(min-width:768px){

  #over-write .resume-button a {
    font-size: 2.5rem;
  }

}
@media(min-width:992px){

  #over-write .resume-button a {
    font-size: 2.7rem;
  }

}
@media(min-width:1200px){

  #over-write .resume-button a {
    font-size: 3rem;
  }

}
