<div class="about">
  <h1 class="section-heading">About</h1>
  <div class="container">
    <p>I graduated in 2015 with a Bachelor’s of Arts in Statistics from the University of California, Berkeley, and recently relocated to Los Angeles, California to pursue a career as a software engineer. Currently I work full time with Ruby on Rails.</p>
  </div>
</div>
