<div class="about">
  <h1 class="section-heading">About</h1>
  <div class="container">
    <p>Lorem ipsum dolor sit amet, mentitum ullamcorper voluptatibus cu mei, et est tale constituto, an graece inciderint mel. Vix te discere utroque. An usu graecis reprimique, aliquid inimicus et mel. Qui lorem epicuri appareat in. Ea pro quando praesent, et ubique lucilius pro. No quo assum vivendo mandamus.</p>
  </div>
</div>
