<!-- hero -->
<div id="hero2">
  <div id="blog-view">
    <h1 id="blog"></h1>
  </div>

  <div class="section">
    <div class="blog fadeIn">
      <p>Maria Chávez Brown</p>
    </div>
  </div>

</div>
