<!-- navigation bar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-transparent animated fadeIn" id="scroll">
  <!-- brand name -->
  <%= link_to 'David Chavez', '../index.html', class: "navbar-brand brand-name" %>
</nav>
