<div class="container-fluid footer" id="footer">
  <div class="row footer-row">
      <div class="col-md-3">
        <% link_to '../index.html', class: "footer-logo"  do %>
          <%= image_tag 'logo.png', style: 'height: 25px; width: 100px;' %>
        <% end %>
          <!-- <h3 class="footer-logo"><%= link_to 'Maria Brown', '../index.html', class: "footer-logo"  %></h3> -->
      </div>
      <div class="col-md-6">
      </div>

      <div class="col-md-3">
          <div id="social">
            <a href="mailto:dvcv92@gmail.com">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
          <div class="copyright">
            &copy; Maria Chávez Brown 2019
          </div>
      </div>
  </div>
</div>
