<div class="blogs">
  <h1 class="section-heading">Articles</h1>
  <div class="container">
    <h2 class='text-center'>By Category</h2>
    <div class="row text-center">
      <% blog.tags.each do |tag, articles| %>
      <div class="col">
        <p><%= link_to "#{tag} (#{articles.size})", tag_path(tag) , class: 'tags' %></p>
      </div>
      <% end %>
    </div>

    <% page_articles.each_with_index do |article, i| %>
    <!-- <p><%= article.date.strftime('%b %e, %Y') %></p> -->
    <p> <%= article.summary %></p>
    <%= link_to 'Read', article, class: "btn btn-block" %>
    <% end %>
  </div>
</div>
