<div class="contact">
  <h1 class="section-heading">Contact</h1>
  <div class="social-icons center">
    <a href="mailto:dvcv92@gmail.com">
      <i class="fa fa-envelope"></i>
    </a>
    <!-- <a href="https://twitter.com/dvcvapps" target="_blank">
      <i class="fa fa-twitter"></i>
    </a> -->
    <!-- <a href="https://www.linkedin.com/in/dvcv92/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a> -->
    <!-- <a href="https://github.com/dvcv" target="_blank">
      <i class="fa fa-github"></i>
    </a> -->
  </div>
</div>
