<div class="container-fluid" id="footer">
  <div class="row footer-row">
      <div class="col-md-3">
          <h3 class="footer-logo">Maria Brown</h3>
      </div>

      <div class="col-md-6">
          <div class="footer-nav">
              <ul>
                <!-- <li><a class ="projects-link">Projects</a></li> -->
                <li><a class ="blog-link">Articles</a></li>
                <li><a class ="about-link">About</a></li>
                <!-- <li><a class ="resume-link">Resume</a></li> -->
                <li><a class ="contact-link">Contact</a></li>
              </ul>
          </div>
      </div>

      <div class="col-md-3">
          <div id="social">
            <a href="mailto:dvcv92@gmail.com">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
          <div class="copyright">
            &copy; Maria Brown 2019
          </div>
      </div>
  </div>
</div>
