<!-- hero -->
<div id="hero">
  <div id="skill-view">
    <h1 id="skills" style="white-space: nowrap;">Welcome</h1>
  </div>

  <div class="section">
    <div class="skill r animated fadeIn">
      <p>R</p>
    </div>
    <div class="skill rails animated fadeIn">
      <p>Rails</p>
    </div>
    <div class="skill angular animated fadeIn">
      <p>Angular</p>
    </div>
    <div class="skill javascript animated fadeIn">
      <p>JavaScript</p>
    </div>
    <div class="skill api animated fadeIn">
      <p>APIs</p>
    </div>
  </div>

</div>
