<!-- navigation bar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-transparent animated fadeIn" id="scroll">
  <!-- brand name -->
  <a class="navbar-brand brand-name" href="#">
    <img src="images/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <!-- <a class="nav-item nav-link projects-link" href="#">Projects</a> -->
      <a class="nav-item nav-link blog-link" href="#">Articles</a>
      <!-- <a class="nav-item nav-link about-link" href="#">About</a> -->
      <!-- <a class="nav-item nav-link resume-link" href="#">Resume</a> -->
      <!-- <a class="nav-item nav-link contact-link" href="#">Contact</a> -->
    </div>
  </div>
</nav>
