

<div class="resume">
  <h1 class="section-heading">Resume</h1>
  <div class="resume-button">
    <a class="github-button btn btn-secondary" href="https://resume.creddle.io/embed/39m5vrdi1d3" target="_blank">View</a>
  </div>
</div>
